{% extends 'base.twig' %}

{% block title %}Cyberturity&reg; | Privacy Policy{% endblock %}

{% block content %}
    <main id="main">
        <div class="privacy-block pt-50 pb-75">
            <div class="container">
                <div class="heading mb-40">
                    <h1>Privacy Policy</h1>
                </div>
                <p>We recognise and value the protection of your personal information and recognise that you have an
                    interest in our collection and use of your personal information.</p>
                <p>We have implemented this Privacy Policy in accordance with the Australian Privacy Principles
                    (APP) in order to be open and transparent about how we collect, hold, and use your personal
                    information, and under what circumstances we may disclose or transfer your personal information.
                </p>
                <p>Please note that this Privacy Policy forms part of our Terms of Use.</p>
                <h2 class="h5 mb-10">Collection</h2>
                <p>We collect personal information in order to provide you with a cyber security maturity assessment
                    and other management and workflow solutions, also known as our services.</p>
                <p>The type of personal information we collect includes your name, address, telephone number and any
                    additional information you provide to us.</p>
                <p>Information will only be collected directly from you unless you authorise for another person to
                    provide the information. <br>We will collect personal information f ou when you interact with us
                    through our website, in person, via email or by telephone.</p>
                <h2 class="h5 mb-10">Use</h2>
                <p>The personal information you provide is used for purposes related to our primary business
                    operations, which is providing information relating to cyber security including maturity
                    assessments. Examples of when your information may be used include:</p>
                <ol class="ol-alpha pl-25 pb-20">
                    <li>informing you about products and/or services</li>
                    <li>providing you with products and/or services requested;</li>
                    <li>administering your account;</li>
                    <li>dealing with requests, enquiries or complaints and other customer care related activities
                    </li>
                    <li>marketing our products and services generally; and</li>
                    <li>carrying out any activity in connection with a legal, governmental or regulatory requirement
                        on us or in connection with legal proceedings, crime or fraud prevention, detection or
                        prosecution.</li>
                </ol>
                <p>We may also use personal information for purposes related to those described above which would be
                    reasonably expected by you. For example, we may contact you when there is a new feature
                    available for your account type.</p>
                <p>We will not use your information for purposes other than described above unless we have your
                    consent or there are specified law enforcement or public health and safety reasons.</p>
                <h2 class="h5 mb-10">Interacting with us</h2>
                <p>If you contact us with a general question we may interact with you anonymously or through the use
                    of pseudonym. However, we are unable to interact with you when creating any risk assessment
                    reports as we require factual information in order to provide you the most appropriate advice.
                </p>
                <h2 class="h5 mb-10">Direct Marketing</h2>
                <p>From time to time we may send you marketing or promotion material. Marketing and promotional
                    material will only be sent to you if you have opted into receiving marketing material.</p>
                <p>We may also conduct surveys or market research and may seek other information from you on a
                    periodic basis. These surveys will provide us with information that allows improvement in the
                    types and quality of services offered to you, and the manner in which those services are offered
                    to you.</p>
                <p>To opt-out of receiving certain marketing materials from us, you may contact Cyberturity by
                    selecting the “unsubscribe” link provided in our email to you.</p>
                <h2 class="h5 mb-10">Sharing your Personal Information</h2>
                <ol class="ol-alpha pl-25 pb-40">
                    <li>We may disclose or receive personal information or documents about you to/from law
                        enforcement agencies to assist in the prevention of criminal activities.</li>
                    <li>Unless you consent, we will not disclose your personal information to third parties.</li>
                </ol>
                <h2 class="h5 mb-10">Overseas Disclosure</h2>
                <p>We do not disclose your information to entities overseas unless we receive your consent.</p>
                <h2 class="h5 mb-10">Use of Google Analytics</h2>
                <p>This website uses Google Analytics, a web analytics service provided by Google, Inc. (“Google”).
                    Google Analytics uses “cookies”, which are text files placed on your computer, to help the
                    website analyse how you use the site.</p>
                <p>Cookies are used to store information, such as the time that the current visit occurred, whether
                    you have been to the site before and what site referred you to our web page.</p>
                <p>The information generated by the cookie about your use of the website (including your IP address)
                    will be transmitted to and stored by Google on servers in the United States. Google will use
                    this information for the purpose of evaluating your use of the website, compiling reports on
                    website activity for website operators and providing other services relating to website activity
                    and internet usage.</p>
                <p>Google may also transfer this information to third parties where required to do so by law, or
                    where such third parties process the information on Google’s behalf. Google will not associate
                    your IP address with any other data held by Google.</p>
                <p>You may refuse the use of cookies by selecting the appropriate settings on your browser, however
                    please note that if you do this you may not be able to use the full functionality of this
                    website.</p>
                <p>By using this website, you consent to the processing of data about you by Google in the manner
                    described in Google’s Privacy Policy and for the purposes set out above. You can opt out of
                    Google Analytics if you disable or refuse the cookie, disable JavaScript, or use the opt-out
                    service provided by Google.</p>
                <h2 class="h5 mb-10">Security of your Personal Information</h2>
                <p>We store your personal information using secure servers protected from unauthorised access,
                    modification or disclosure.</p>
                <p>While we endeavour to only hold personal information that is accurate, complete and up-to-date,
                    if you become aware this information is no longer accurate, complete or up-to-date please
                    contact us to correct the information.</p>
                <h2 class="h5 mb-10">Disposal of personal information not required</h2>
                <p>If we hold personal information about you, and we do not need that information for any purpose,
                    we will take reasonable steps to destroy or de-identify that information unless we are prevented
                    from doing so by law.</p>
                <h2 class="h5 mb-10">How to access your Personal Information</h2>
                <p>Upon your request, we will provide access to your personal information we hold except in certain
                    prescribed circumstances, including emergency situations, specified business imperatives, or law
                    enforcement.</p>
                <h2 class="h5 mb-10">How to contact us</h2>
                <p>If you have any queries, questions, concerns or wish to make a complaint regarding how we deal
                    with your personal information please contact our Privacy Officer via the Contact Form located
                    on our website at <a href="http://www.cyberturity.com">www.cyberturity.com</a>.</p>
                <h2 class="h5 mb-10">Amendments of this Privacy Policy</h2>
                <p>We are obligated to regularly review and update this policy. We therefore reserve the right to
                    amend this Privacy Policy at any time. <br>Should any significant amendments occur, notification
                    will be provided by publication on the website 14 days prior to the changes being implemented
                    unless the circumstances of the amendments makes it unreasonable to provide such a notice
                    period. <br>Your continued use after the notice period has lapsed indicates your consent to be
                    bound by the amended Privacy Policy.</p>
                <p>For further information about privacy in general, please refer to the Office of the Australian
                    Information Commissioner’s website located at <a class="link"
                                                                     href="http://www.oaic.gov.au">http://www.oaic.gov.au</a></p>
            </div>
        </div>
    </main>
{% endblock %}

